<h2 mat-dialog-title>
  You aren't alone!
</h2>

<img id="handshake" src="../../../../../assets/images/handshake.svg" alt="Handshake">

<mat-dialog-content>
  I know how difficult it must be.
  But don't give up.
  We all have our time to recover from our wounds.
  Believe that soon the sun will shine again.
  And all of that will serve as growth.
  You can do it and you aren't alone!
</mat-dialog-content>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</div>
